<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @tipo_operacao_financeira.nome %>
</p>


<%= link_to 'Edit', edit_tipo_operacao_financeira_path(@tipo_operacao_financeira) %> |
<%= link_to 'Back', tipo_operacao_financeiras_path %>
