<h1>Relatório de cheques</h1>
<div class="box-left">
<div class="list">


<% if @cheques.size > 0 %>
  <center>
  <% @cheques.each do |cheque| %>
    <%= render cheque %>
  <% end %>
  </center>
<% else %>
  Nenhum resultado.
<% end %>


</div>
</div>
