<% if object.errors.any? %>
    <div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		    <strong><%= pluralize(object.errors.count, "error") %>:</strong> prohibited this object from being saved:</p>		    
            <% object.errors.full_messages.each do |msg| %>
                <%= msg %> <br />
            <% end %>            
            <br />
	    </div>
    </div>
    <br />
<% end %>

