<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @situacao_cheque.nome %>
</p>


<%= link_to 'Edit', edit_situacao_cheque_path(@situacao_cheque) %> |
<%= link_to 'Back', situacao_cheques_path %>
